<ion-header>
  <ion-navbar>
    <ion-title>
      Home Page
    </ion-title>
  </ion-navbar>
  <ion-searchbar
    (ionInput)="onInput($event)">
  </ion-searchbar>
</ion-header>

<ion-content padding>
    <ion-list>
      <ion-item *ngIf="(results | async)?.length<1">Aucun Résultats</ion-item>
        <ion-item *ngFor="let current of (results | async)">
          <ion-thumbnail item-start >
            <img [src]="current.poster_path">
          </ion-thumbnail>
          <h2>{{current.title | uppercase}}</h2>
          <p>{{current.release_date}}</p>
          <button ion-button [navPush]="pushPage" [navParams]= '{ film : current}'>View</button>
      </ion-item>
    </ion-list>
</ion-content>
